body,
html {
  height: 100%;
}
.bg {
  background-image: url("images/Chronometer.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
header {
  /* border: 5px solid black; */
  position: relative;
  background-color: beige;
  margin: 0;
  width: 100%;
}
h1 {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
main {
  margin-top: 150px;
  position: relative;
}
div {
  display: flex;
  justify-content: center;
}
#timer {
  font-size: 10em;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
}
